
@font-face {
  font-family: "Quicksand";
  src: url("/public/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  font-family: 'Quicksand', sans-serif;
}

.contactContainer {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.NameANDLogo {
  font-size: clamp(1.2rem, 0.829rem + 1.857vw, 2.5rem);/*2.5*/
  color: white;
  letter-spacing: clamp(0.1rem, 0.071rem + 0.143vw, 0.2rem);
  transition: none;
  text-align: center;
}

.contentContainer {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
}

.gridContainer {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 0.2fr;
  row-gap: 3rem;
  color: white;
  text-transform: uppercase;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;
}

.stanAlone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;
  width: 100%;
  height: 100%;
}

.pAndi {
 min-width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(0.8rem, 0.6rem + 1vw, 1.5rem);
  letter-spacing: clamp(0rem, -0.086rem + 0.429vw, 0.3rem);
  margin: 0;
  cursor: pointer;
  text-align: center;
  z-index: 1; /* Ensure text appears above icon */
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 0; /* Icon below text */
}

.icon svg {
  width: 3rem;
  height: auto;
  color: white;
}

.copyright {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: clamp(0.5rem, 0.443rem + 0.286vw, 0.7rem);
  cursor: default;
  padding-bottom: 0.5rem;
}