@font-face {
  font-family: "Quicksand";
  src:url("/public/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype") ;
  font-display: swap; 
  font-weight: normal; 
  font-style: normal; 
}


.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: #b4aea6;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light, screen;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    color: rgb(110, 110, 110);
    font-family: 'Quicksand', sans-serif;
}

.header {
    position: relative;
    width: 80%;
    height: auto;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: clamp(0rem, -0.571rem + 2.857vw, 2rem);
}

.iconContainer {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon {
    font-size: clamp(2rem, 1.771rem + 1.143vw, 2.8rem) !important;
}

.content{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    margin-top: 3rem;
    gap: 0.3rem;
    grid-template-columns: repeat(4, 1fr);
    align-content: start;
    justify-items: center;
}
.gridItem {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.gridImage{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  min-height: 10%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content:space-around;
  z-index: 1;
  color: white;
  font-weight: 500;
  backdrop-filter: blur(9px);
  background-color: rgba(0, 0, 0, 0.142);
  font-size:clamp(0.65rem, 0.579rem + 0.357vw, 0.9rem);
}

.packageName {
    position: relative;
    text-transform: uppercase;
}
.duration{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    text-transform: uppercase;
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.errorMessage {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.errorMessageText {
 text-transform: uppercase;
  font-size: clamp(0.65rem, 0.579rem + 0.357vw, 0.9rem);
  color: rgb(0, 0, 0);
}

.errorAlert {
  margin: 16px;
}

.tagsWindow{
    position: relative;
    margin: 2rem;
    max-width: 90%;
    text-align: center;
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    gap: 1rem;
}

.tagBiscuit{
    position: relative;
    text-transform: uppercase;
    color: black;
     background-color: #A27B5C;
    text-wrap: nowrap;
}

.crossIcon{
    font-size: 1.7rem;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .header {
        width: 100%;
    }
    .inputContainer {
        padding-left: 1rem;
        padding-top: 0.5rem;
}
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
    .gridItem{
        height: 35vh;
    }
    .textContainer{
        margin-bottom: 0.5rem;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
