
.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    top:0;
    background-color: #c9c9c9;
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.foreGround {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.sectionContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionName {
    font-family: "Jost", sans-serif;
    background: linear-gradient(to top, #e0e0e000, #00000016, #0000003b, #000000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 15rem;
    margin: 0;
}

.WinterContent{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #A2A695;
    
}
.contentimage{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
    
}
.locationName{
    font-family: "Jost", sans-serif;
    position: absolute; 
    top: 0; 
    left: 0;
    overflow: hidden;
    z-index: 3;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0px 2px 1px rgba(15, 15, 15, 0.07);
    font-weight: 500;
    text-align: center;
    cursor: default;
}

.contentText{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 0px 2px 1px rgba(15, 15, 15, 0.07);
    cursor: default;
    font-weight: 500;
}

.flex{
    position: absolute;
    display: flex;
    gap: 4rem;
    width: 100%;
    justify-content: center;
    top: 20%;
}

.duration{
    font-size: 2rem;
    text-align: center;
    text-align: end;
}
.to{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seeMore {
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.447);
    position: absolute;
    right:2rem;
    bottom:1rem;
    display: flex;
  }

  .mui{
    font-size:1.2rem;
  }